<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="StudentManagementEntities" connectionString="metadata=res://*/ModelStudentManage.csdl|res://*/ModelStudentManage.ssdl|res://*/ModelStudentManage.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSI\LESSION1;initial catalog=StudentManagement;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>